<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <br>
    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="299*******">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Ingrese su consulta</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div>
    <input type="submit" value="Enviar">
  </div>
</form>
