<!--<div class="row row-cols-1 row-cols-md g-4">
  <div class="col">
    <img src="--/../../assets/yerba amanda.jpg">
    <img src="--/../../assets/yerba canarias.jpg">
    <img src="--/../../assets/yerba nobleza gauchera.jpg">
   </div>
</div>-->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/9d72f10b71604480ac57aef901046dd6_9366ffff.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">remera 2022</h5>
        <p class="card-text">2500$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/D_NQ_NP_975467-MLA49793875958_042022-W.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">remera blanca</h5>
        <p class="card-text">3500$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/afa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">remera seleccion</h5>
        <p class="card-text">4000$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>
