<!--<div class="row row-cols-1 row-cols-md g-4">
  <div class="col">
    <img src="--/../../assets/yerba amanda.jpg">
    <img src="--/../../assets/yerba canarias.jpg">
    <img src="--/../../assets/yerba nobleza gauchera.jpg">
   </div>
</div>-->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/yerba nobleza gauchera.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Yerba Nobleza Gaucha</h5>
        <p class="card-text">668$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/yerba canarias.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Canarias</h5>
        <p class="card-text">662$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/yerba amanda.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Amanda</h5>
        <p class="card-text">791$</p>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>
